@model IEnumerable<GeneratorBase.MVC.Models.T_DataMetric>
@{
    ViewBag.Title = "Data Metric List";
    string templatename = ("~/Views/T_DataMetric/" + ViewBag.TemplatesName + ".cshtml").Replace("?IsAddPop=true", "");
    var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_DataMetric");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Data Metric";

}
<div class="content-heading">
    <div class="TitleName"><strong><a href="@Url.Action("Index", "Admin")"> Admin</a> <a href="@Url.Action("Index")">@EntityDisplayName</a><small>List</small></strong></div>

</div>

<script>
    $(document).ready(function () {
        ClickFilterBtn();
        $('.edit').find('input[type=text]').hover(function () {
            $(this).attr("title", $(this).val());

        });
    });
</script>
<div class="row">
    <div class="col" style="width:200px; float:left;">

        <div class="card">
            <div class="card-body">
                <div id="dvT_DataMetricFilter"></div>@Html.Partial(templatename, Model)
            </div>
        </div>

    </div>
</div>