@model GeneratorBase.MVC.Models.Theme
@{
    ViewBag.Title = " Edit Theme";
    
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="fa fa-thumbs-up text-primary" ></i>Theme <i class="fa fa-chevron-right small"></i>  <span>Edit</span>
        </h1>
    </div>
</div>
@Html.Partial("~/Views/Theme/EditPartial.cshtml", Model)
