@model IEnumerable<GeneratorBase.MVC.Models.T_FacetedSearch>
@{
    ViewBag.Title = "FacetedSearch List";
    string templatename = ("~/Views/T_FacetedSearch/" + ViewBag.TemplatesName + ".cshtml").Replace("?IsAddPop=true", "");
    var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_FacetedSearch");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "FacetedSearch";
    
}

<div class="content-heading">
    <div class="col-lg-12">
        
        <strong>
            <a href="@Url.Action("Index")"> Saved Queries (Faceted Search) </a>

           <small> List</small>
</strong>
            
    </div>

</div>
<script>
    $(document).ready(function () {
        ClickFilterBtn();
    });
</script>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div id="dvT_FacetedSearchFilter"></div>
                    @Html.Partial(templatename, Model)
                </div>
            </div>
        </div>
    </div>
</div>
