@model IEnumerable<GeneratorBase.MVC.Models.T_DocumentTemplate>
@{
    ViewBag.Title = "Document Template List";
	string templatename = ("~/Views/T_DocumentTemplate/" + ViewBag.TemplatesName + ".cshtml").Replace("?IsAddPop=true", "");
	 var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_DocumentTemplate");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Document Template";
}
<div class="content-heading">
    <div class="TitleName"><strong><a href="@Url.Action("Index")">@EntityDisplayName</a><small>List</small></strong></div>
    
</div>

<script>
    $(document).ready(function () {
        ClickFilterBtn();
		  $('.edit').find('input[type=text]').hover(function () {
            $(this).attr("title", $(this).val());

        });
    });
</script>

            <div class="card">
                <div class="card-body">
                    <div id="dvT_DocumentTemplateFilter"></div>@Html.Partial(templatename, Model)
                </div>
            </div>
 
