@model IEnumerable<GeneratorBase.MVC.Models.JournalEntry>
@{
    ViewBag.Title = "Index";

}
@if (Request.Url.Query.Length == 0)
{

    <div class="content-heading">
        <div class="col-lg-10">
            <strong>
                <a href="@Url.Action("Index", "Admin")"> Admin</a> <a href="@Url.Action("Index")">Journal Entries</a>
                <small>Audit Log for Add,Update,Delete and View Actions</small>
            </strong>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
}
<div class="row">
    <div class="col" style="width:200px; float:left;">

        <div id="dvJournalEntryFilter"></div>

        @Html.Partial("~/Views/JournalEntry/IndexPartial.cshtml", Model)
    </div>
</div>