@model IEnumerable<GeneratorBase.MVC.Models.PropertyMapping>
@{
    ViewBag.Title = "Property Mapping List";
	
}
<div class="content-heading">
    <div class="col-lg-12">
        <strong>
            <a href="">Property Mapping</a>
                <small>List</small>
</strong>
    </div>
</div>
<div id="dvPropertyMappingFilter"></div>
@Html.Partial("~/Views/PropertyMapping/IndexPartial.cshtml", Model)

