@model List<ModelReflector.Entity>
@{
    ViewBag.Title = "Resource Localization";   
}
<div class="content-heading">
    <div class="col-lg-10">

        <strong>
            <a href="@Url.Action("Index", "Admin")"> Admin</a> <a href="@Url.Action("Index", "ResourceLocalization")">Entity UI Label Mapping  </a>

            <small> List</small>
        </strong>
    </div>
    <div class="col-lg-2">
        <div class="col-lg-4">
    
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div id="dvResourceLocalizationFilter"></div>
                    @Html.Partial("~/Views/ResourceLocalization/IndexPartial.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>
