@model IEnumerable<GeneratorBase.MVC.Models.ApplicationFeedback>
@{
    ViewBag.Title = "Application Feedback List";
	
}
<div class="content-heading">
    <div class="col-lg-12">
       <strong>
            <a href="@Url.Action("Index", "Home")">Home</a>
        </strong>
       @* <strong>
            <a href="@Url.Action("Index", "ApplicationFeedback")">Application Feedback</a>
        </strong>*@
        <small> Application Feedback List</small>
    </div>
</div>
<div id="dvApplicationFeedbackFilter"></div>
@Html.Partial("~/Views/ApplicationFeedback/IndexPartial.cshtml", Model)

