@model GeneratorBase.MVC.Models.EntityHelpPage
@{
    ViewBag.Title = "Create Entity Help Page";
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "EntityHelpPage");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Entity Help Page";
	if (ViewBag.IsPartial != null && ViewBag.IsPartial == true)
    {
        Layout = null;
    }
}
<div class="content-heading">
    <div class="col-lg-8">
        @{
            var hostingValue = "";
            if (ViewBag.DisplayVal != null)
            {
                hostingValue = " - " + ViewBag.DisplayVal;
            }
        }

        <strong>
            <a href="@Url.Action("Index")"> @EntityDisplayName</a>

            Add Entity Help Page @hostingValue
        </strong>
                <small>@Html.DisplayFor(model => model.DisplayValue) </small>

    </div>
    <div class="col-lg-4">
        <div class="pull-right">
            @if (ViewBag.IsPartial == null)
            {
                <a class="btn btn-primary btn-xs" type="button" data-original-title="List View" data-placement="top" onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Index", "EntityHelpPage") + "');") alt="Search" title="List">
                    <i class="fa fa-list"></i> List
                </a>
            }

        </div>
    </div>
    <!-- /.col-lg-12 No Email-->
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
            <div class="card">
                <div class="card-body">
@Html.Partial("~/Views/EntityHelpPage/CreatePartial.cshtml", Model)
</div>
            </div>
     </div>
